/* general */

body {
	font-family : sans-serif;
	background-color: #fff;
	color: #999;

}
a{
	text-decoration: none;
}

/* header */
h1 {
	float: left;
	padding-top : 10 px;
	margin-bottom: 20px;
	width : 100%;
}

#logo {
	text-align : center;
	margin : 0;
}

/* navigation*/
nav {
	text-align :center;
	padding: 10px 0;
	margin-top : 20px;
}
nav ul {
	list-style-type: none;
	margin : 0px;
	padding : 0;
}
nav li {
	display : inline-block;
	margin : 0 10px;
}
nav a{
	font-weight : 800;
	padding: 15px 10px;
}

/* footer */
footer {
	text-align: center;
	font-size: 0.7em;
	padding-top: 50px;
	clear: both;
	color: #bbb;
}
footer p {
	text-align: center;
}
.social {
	width: 40px;
	margin : 0 5px;
}

/* about*/
#about {
	margin : 0 5% 30px;
	clear: both;
	display: block;
	overflow: auto;
}
#profile-photo{
	float: left;
	max-width: 150px;
	margin: 0 5% 0 0 ;
	border-radius: 50%;
}
.text h3{
	padding : 0;
	font-size: 1.2em;
}
.text p{
	 font-family: serif;
	 font-size: 1.15em;
	 line-height: 1.45em;
	 max-width: 800px;
	 color: #555;
}

/*contact**/
#contact {
	margin : 0 5% 0;
}
#contact h3{
	text-align: center;
}
#contact-details {
	line-height: 0.9em;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}
#contact-details li {
	display: block;
	margin:20px;
}

/* home*/
h3 {
	padding: 0 2.5%;
}
.course {
	background-color:  #333;
	width : 40%;
	height: 200px;
	min-width: 356px;
}
.info {
	background-color:  #333;
	width : 40%;
	height: 200px;
	min-width: 356px;

}
.course , .info {
	display: inline-block;
	margin: 0 2.5%;
}
.more {
	margin: 20px 20px 0 0 ;
}



/* colors */
header {
	background-color: #718ea7;
	border-color: #607f99;
}
nav {
	background-color: #607f99;
}
h1, h2{
	color: #fff;
}
h3{
	color: steelblue;
}
a{
	color: 	#97ddff;
}
nav a , nav a:visited {
	color: #fff;
}
nav a.selected, nav a:hover{
color: #97ddff;
}